@font-face {
  font-family: 'cormorant-infant';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/CormorantInfant-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'cormorant-sc';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/CormorantSC-Regular.ttf) format('truetype');
}