.visit-card {
  padding: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 200px var(--primary);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (min-width: 768px) {
    padding: 20px;
    max-width: 600px;
  }

  main {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px var(--primary) dashed;
  }

  .visit-card__name {
    h1 {
      font-family: 'cormorant-sc';
      font-weight: 400;
      font-size: 28px;
    }

    h2 {
      font-family: 'cormorant-infant';
      font-weight: 600;
      font-size: 18px;
    }

    @media (min-width: 768px) {
      h1 {
        font-weight: 400;
        font-size: 36px;
      }

      h2 {
        font-weight: 600;
        font-size: 24px;
      }
    }
  }


  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;

      @media (min-width: 768px) {
        gap: 8px;
      }
    }

    ul li a {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      font-family: 'cormorant-infant';
      font-weight: 600;
      color: var(--light);




      @media (min-width: 768px) {
        gap: 8px;
        font-size: 24px;
      }
    }

    ul li a:hover {
      text-decoration: underline;
    }


  }
}